# app/config/config.yml
framework:
    secret: %secret%
    test:   %enable_test%
    router:
        resource: "%kernel.root_dir%/config/routing_%kernel.environment%.yml"
        strict_requirements: %kernel.debug%
    templating:
        engines: ['twig']
    profiler:
        enabled: %kernel.debug%
    validation: { enable_annotations: true }
    form: ~

monolog:
    handlers:
        main:
            type:         fingers_crossed
            action_level: %monolog_action_level%
            handler:      nested
        nested:
            type:  stream
            path:  "%kernel.logs_dir%/%kernel.environment%.log"
            level: debug

doctrine:
    orm:
        auto_mapping: true
        auto_generate_proxy_classes: %kernel.debug%

    dbal:
        driver:   %database_driver%
        host:     %database_host%
        port:     %database_port%
        dbname:   %database_name%
        user:     %database_user%
        password: %database_password%
        charset:  %database_charset%
        path:     %database_path%

fos_rest:
    view:
        view_response_listener: force

sensio_framework_extra:
    view:   { annotations: false }
    router: { annotations: true }

jms_serializer:
    metadata:
        cache: file
        debug: "%kernel.debug%"
        file_cache:
            dir: "%kernel.cache_dir%/serializer"
